* {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

footer {
  background-color: white;
}

.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}

/* Styles spécifiques à la page index */
.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

#section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

textarea,
input {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

.nom,
.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

/* Styles spécifiques à la page à propos */
.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

td,
th {
  border: 1px solid #a5b4fc;
  padding: 15px;
}

table {
  color: white;
  border-collapse: collapse;
  align-items: center;
  width: 100%;
}

caption {
  padding-bottom: 80px;
}

td {
  padding: 80px;
}

/* Styles spécifiques à la page portfolio */
.portfolio-section-photos {
  background-color: white;
}

.portfolio-section-photos h2 {
  color: #242424;
  margin-bottom: 80px;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

/* Media queries */
@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  header,
  footer {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }

  table {
    display: none;
  }
}
