.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: #f8fafc
    url("https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png");
  background-size: contain;
  border-bottom: 2px solid #e5e7eb;
  margin: 0 auto;
}

/* TITRE */
.hero h1 {
  font-size: 40px;
  font-weight: 700;
  color: #121826;
  margin-bottom: 24px;
}

/* PARAGRAPHE */
.hero p {
  font-size: 18px;
  font-weight: 400;
  color: #4d5562;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto;
}
/* TABLEAU DE PRIX*/
.tableau-prix {
  margin: 3em auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}
/* CHAQUE LIGNE DU TABLEAU*/
.ligne {
  display: grid;
  grid-template-columns: 220px repeat(4, 1fr);
  text-align: center;
  align-items: center;
  background: #fff;
  min-height: 60px;
}

.ligne > div {
  padding: 16px 12px;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
}

.premier > div{
  border-top: none;
}

.premier > div:nth-child(1){
border-top-left-radius: 16px;
}
.dernier > div:nth-child(1){
border-bottom-left-radius: 16px;
}

/* TITRE DU TABLEAU*/
.header {
  font-weight: 700;
  color: #263fa9;
}

.header > div {
  padding: 20px 0;
  border: none;
}

/*colonne popular*/
.ligne > div:nth-child(4) {
  background-color: #121826;
  color: white;
  border: none;
}

/* ARRONDI POPULAR ET GET*/
.header > div:nth-child(4) {
  border-radius: 16px 16px 0 0;
}

.ligne.get > div:nth-child(4) {
  border-radius: 0 0 16px 16px;
  background-color: #7c4f1e;
  color: #fff;
}
/* COLONNE DES PRIX */
.chiffre > div {
  font-size: 64px;
  font-weight: 700;
  padding: 20px 0;
  border: none;
}

.ligne > div:nth-child(1) {
  border-left: none;
  border-right: none;
}

.mois > div {
  padding: 10px 0 20px;
  color: #6b7280;
  border: none;
}
/*colonne gauche*/
.gras {
  font-weight: bold;
  background-color: #f8fafc;
  padding: 16px 24px;
  width: 220px;
  text-align: left;
}


.tag-popular {
  background-color: #263fa9;
  border-radius: 16px;
  padding: 3px 8px;
}

.get > div {
  border: none;
  color: #263fa9;
  font-weight: 600;
}

.ligne > div:nth-child(5){
  border-right: none;
}

.ligne > div:nth-child(2){
  border-left: none;
  border-right: none;
}

.ligne > div:nth-child(3){
  border-left: none;
} 